<%= turbo_frame_tag :modal do %>
  <div class="modal is-active" data-controller="bulma--modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          Novo Anúncio
        </p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <%= render 'form' %>
      </section>
    </div>
  </div>
<% end %>