<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: 'title is-3 navbar-item' do %>
        Ticket Trade
      <% end %>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to 'Login', new_user_session_path, class: 'button is-light is-outlined' %>
            </p>
            <p class="control">
              <%= link_to 'Criar conta', new_user_registration_path, class: 'button is-light is-outlined' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>